[submodule "config/zsh/zsh-syntax-highlighting"]
	path = config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "SpaceVim"]
	path = SpaceVim
	url = https://github.com/SpaceVim/SpaceVim.git
[submodule "config/zsh/themes/powerlevel10k"]
	path = config/zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "config/ranger/plugins/ranger-archives"]
	path = config/ranger/plugins/ranger-archives
	url = https://github.com/maximtrp/ranger-archives.git
